<mat-toolbar class="ngx-mtp-header mat-elevation-z6" color="primary">
  <div>
    <mat-icon class="logo" svgIcon="logo" />
    <span class="ngx-mtp-header-title">
      {{ npmPackage }}
    </span>
  </div>

  <div>
    <button mat-icon-button (click)="toggleTheme()">
      @if (isDark()) {
        <mat-icon>dark_mode</mat-icon>
      } @else {
        <mat-icon>light_mode</mat-icon>
      }
    </button>

    <button mat-icon-button [matMenuTriggerFor]="themeMenu">
      <mat-icon>format_color_fill</mat-icon>
    </button>

    <mat-menu #themeMenu>
      @for (color of colors; track color.value) {
        <button mat-menu-item (click)="updateColor(color.value)">
          @if (selectedColor() === color.value) {
            <mat-icon color="accent">radio_button_checked </mat-icon>
          } @else {
            <mat-icon>radio_button_unchecked</mat-icon>
          }
          {{ color.description }}
          <mat-icon
            class="ngx-mtp-theme-example mat-elevation-z1"
            svgIcon="theme"
            [style.color]="color.hexColor"
          />
        </button>
      }
    </mat-menu>

    <a mat-button class="ngx-mtp-github-link-desktop" [href]="githubLink">
      <mat-icon svgIcon="github-circle" />
      <span class="ngx-mtp-github-logo-text">Github</span>
    </a>
  </div>
</mat-toolbar>

<div class="ngx-mtp-top">
  <h1 class="mat-h1 ngx-mtp-main-title">Angular Material Timepicker</h1>
  <p>an Angular material 18+ extension to add time pickers!</p>
  <div class="ngx-mtp-badges">
    <a [href]="npmLink" target="_blank">
      <img
        src="https://img.shields.io/npm/v/@alexfriesen/ngx-mat-timepicker.svg?style=flat-square"
        alt="npm version"
      />
    </a>
    <img
      src="https://img.shields.io/npm/dm/@alexfriesen/ngx-mat-timepicker.svg?style=flat-square"
      alt="downloads per month"
    />
    <img
      src="https://img.shields.io/bundlephobia/min/@alexfriesen/ngx-mat-timepicker"
      alt="minified size"
    />
  </div>
  <div
    class="ngx-mtp-padding ngx-mtp-d-flex ngx-mtp-align-center ngx-mtp-justify-center"
  >
    <a mat-flat-button [href]="githubLink">
      <mat-icon svgIcon="github-round" />
      Star on Github
    </a>
  </div>
</div>

<div class="ngx-mtp-generic-section">
  <h2 class="mat-title-large">Install NgxMatTimepicker</h2>
  <div class="terminal">
    <ul>
      <li>npm i {{ npmPackage }}</li>
    </ul>
  </div>
</div>

<div class="ngx-mtp-container">
  <div class="ngx-mtp-locales">
    <p>Dynamic locale (v >= 12.2.0)</p>
    <div>
      <mat-button-toggle-group
        [value]="currentLocaleKey"
        (valueChange)="updateLocale($event)"
      >
        @for (locale of myLocaleKeys; track locale; let last = $last) {
          <mat-button-toggle [value]="locale">
            {{ locale }}
          </mat-button-toggle>
        }
      </mat-button-toggle-group>
    </div>
    <button mat-raised-button color="primary" (click)="updateLocale()">
      Next locale
    </button>
  </div>
</div>

<div class="ngx-mtp-container">
  <h2>Examples:</h2>
  <div class="examples">
    <mat-card>
      <mat-card-content>
        <app-example-format-12 />
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <app-example-format-24 />
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <app-example-field />
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <app-example-append />
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <app-example-picker-open />
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <app-example-picker-toggle />
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <app-example-validation />
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <app-example-completion />
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <app-example-dialog />
      </mat-card-content>
    </mat-card>
  </div>
</div>

<footer>
  <p>
    © <span>{{ year }}</span> MIT License
  </p>
</footer>
