<div>
  <h3>Allow input completition</h3>
  <p>Don't link input to picker</p>
  <div class="example ngx-mtp-d-flex ngx-mtp-align-center ngx-mtp-flex-column">
    <mat-form-field>
      <input
        matInput
        [pattern]="timeRegex"
        name="selected_time_h"
        #inputModel="ngModel"
        [(ngModel)]="selectedTime"
        (blur)="
          inputModel.valid && selectedTimeFreeInputChanged(selectedTime)
        "
        placeholder="12:00"
      />
      @if (inputModel.hasError('pattern')) {
        <mat-error>Expected format: H:mm AM|PM</mat-error>
      }
    </mat-form-field>
    <button
      mat-raised-button
      class="ngx-mtp-margin-top ngx-mtp-margin-bottom ngx-mtp-d-inline-block"
      (click)="pickerH.open()"
      color="primary"
    >
      Open picker
    </button>
    <ngx-mat-timepicker
      (timeSet)="updateTime($event, 'selectedTimeFreeInput')"
      #pickerH
    />
  </div>
</div>
