@use '@angular/material' as mat;
@use 'scss/fonts';
@use 'scss/themes' as themes;

// Include the default theme styles.
@include mat.elevation-classes();
@include mat.app-background();
@include mat.typography-hierarchy(themes.$red-light);
:root {
  @include mat.all-component-themes(themes.$red-light);
}
.dark {
  @include mat.all-component-colors(themes.$red-dark);
}

.blue {
  @include mat.all-component-colors(themes.$blue-light);
  &.dark {
    @include mat.all-component-colors(themes.$blue-dark);
  }
}

.orange {
  @include mat.all-component-colors(themes.$orange-light);
  &.dark {
    @include mat.all-component-colors(themes.$orange-dark);
  }
}

body {
  margin: 0;
  padding: 0;
}

.ngx-mtp-d-inline-block {
  display: inline-block;
}

.ngx-mtp-d-none {
  display: none;
}

.ngx-mtp-d-flex {
  display: flex;
}

.ngx-mtp-flex-column {
  flex-direction: column;
}

.ngx-mtp-align-center {
  align-items: center;
}

.ngx-mtp-justify-center {
  justify-content: center;
}

.ngx-mtp-padding {
  padding: 1rem;
}

.ngx-mtp-margin-top {
  margin-top: 0.5rem;
}

.ngx-mtp-margin-bottom {
  margin-bottom: 0.5rem;
}

.ngx-mtp-box-bordered {
  text-align: center;
  min-height: 20px;
  padding: 0.5rem;
  width: 100%;
  border-radius: 12px;
}

.ngx-mtp-generic-section {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
