<div>
  <h3>ngx-mat-timepicker-toggle</h3>
  <p>use component in material stile (instead of using mat-icon + matSuffix)</p>
  <div class="example ngx-mtp-d-flex ngx-mtp-align-center ngx-mtp-flex-column">
    <mat-form-field class="ngx-mtp-margin-bottom">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="datePicker" />
      <mat-datepicker-toggle matSuffix [for]="datePicker" />
      <mat-datepicker #datePicker />
      <mat-hint>MM/DD/YYYY</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="selected_time_f"
        [format]="24"
        [(ngModel)]="selectedTime"
        [ngxMatTimepicker]="pickerF"
        placeholder="12:00"
        readonly
      />
      <ngx-mat-timepicker-toggle matSuffix />
    </mat-form-field>
    <button
      mat-raised-button
      class="ngx-mtp-margin-top ngx-mtp-margin-bottom ngx-mtp-d-inline-block"
      (click)="pickerF.open()"
      color="primary"
    >
      Open picker
    </button>
    <ngx-mat-timepicker color="accent" #pickerF />
  </div>
</div>
