@use '@angular/material' as mat;

@function theme($palette, $type) {
  @return mat.define-theme(
    (
      (
        color: (
          theme-type: $type,
          primary: $palette,
          // tertiary: $tertiary-palette,
          // use-system-variables: true,
        ),
        density: (
          scale: 0,
        ),
      )
    )
  );
}

@function light-theme($palette) {
  @return theme($palette, light);
}
@function dark-theme($palette) {
  @return theme($palette, dark);
}

$red-light: light-theme(mat.$red-palette);
$red-dark: dark-theme(mat.$red-palette);

$blue-light: light-theme(mat.$blue-palette);
$blue-dark: dark-theme(mat.$blue-palette);

$orange-light: light-theme(mat.$orange-palette);
$orange-dark: dark-theme(mat.$orange-palette);

